.button {
  background: transparent;
  border: none;
  color: #e5e7eb;
  padding: 0;
  height: 100%;
  width: 6.5rem;

  display: flex;
  align-items: center;         /* centra verticalmente */
  justify-content: center;     /* centra horizontalmente */

  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
}

.button:hover {
  background: rgba(148, 163, 184, 0.2);
}